---
---
<div class="flex flex-col text-center align-center p-8">
    <h1 class="text-4xl text-primary font-bold">Welcome to the Astro based Roast Generator!</h1>
    <p class=" text-accent">Get ready to roast your friends in various languages! <span class="text-secondary">(Using OpenAI)</span></p>	
</div>